<section>
    <div class="container">

        <h2 class="mt-4">Add Products</h2>
<form action="/admin/add-products" method="post" enctype="multipart/form-data">
<label for="">Name</label><br>
<input name="name" type="text" value="" style="width: 300px;"><br>
<label for="">Category</label><br>
<input name="category" type="text" value="" style="width: 300px;"><br>
<label for="">Price</label><br>
<input name="price" type="number" value="" style="width: 300px;"><br>
<label for="image">add image</label><br>
<input name="image" type="file"><br><br>
<input type="submit" value="Submit" class="btn btn-success">

</form>

    </div>
</section>